<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Asset Compliance Manager{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<!-- TOP NAVBAR -->
<header class="topbar">
    <span class="app-title">ACM</span>

    <nav class="nav-links">
        <a href="{{ url_for('asset_master') }}"
           class="{% if request.path.startswith('/assets') %}active{% endif %}">
            Asset Master
        </a>

        <a href="{{ url_for('amc_create') }}"
        class="{% if request.path.startswith('/amc') %}active{% endif %}">
            AMC
        </a>

        <a href="{{ url_for('calibration') }}"
        class="{% if request.path.startswith('/calibration') %}active{% endif %}">
            Calibration
        </a>

        <a href="{{ url_for('history') }}"
        class="{% if request.path.startswith('/history') %}active{% endif %}">
            History
        </a>

        <a href="{{ url_for('scrap_asset') }}"
        class="{% if request.path.startswith('/scrap') %}active{% endif %}">
            Scrap
        </a>

        <span class="nav-disabled">Reminders</span>
        <span class="nav-disabled">Backup's & Restore</span>
    </nav>

    <div class="topbar-right">
        <span class="user-info">
            {{ session.get('username') }} ({{ session.get('role') }})
        </span>
        <a href="{{ url_for('logout') }}" class="logout-link">Logout</a>
    </div>
</header>


<!-- MAIN CONTENT -->
<main class="main-container">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-container">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% if request.path.startswith('/history') %}
    <div class="history-toggle">
        <a href="{{ url_for('history') }}"
        class="toggle-btn {% if request.path == '/history' %}active{% endif %}">
            AMC History
        </a>

        <a href="{{ url_for('history_calibration_list') }}"
        class="toggle-btn {% if request.path.startswith('/history/calibration') %}active{% endif %}">
            Calibration History
        </a>
    </div>
    {% endif %}


    {% block content %}{% endblock %}

</main>

<script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</body>
</html>
